In [2]:
import pandas as pd

In [3]:
xlsfile = pd.ExcelFile('xlsfile.xlsx')
xlsfile

In [4]:
dframe = xlsfile.parse('Sheet1')
dframe

   test  Unnamed: 1  Unnamed: 2
0    55          88          14
1    65          65          65
2    55          55          33
3   568         568          33
4    14          17          33