In [3]:
import pandas as pd 
from pandas import DataFrame, Series

In [4]:
!cat random.csv

a,1,100,x
b,2,3654,x
c,6,6894,x

In [6]:
df = pd.read_csv('random.csv')
df

   a  1   100  x
0  b  2  3654  x
1  c  6  6894  x

In [8]:
pd.read_csv('random.csv', header=None)

   0  1     2  3
0  a  1   100  x
1  b  2  3654  x
2  c  6  6894  x

In [10]:
pd.read_csv('random.csv', names=['a', 'b', 'c', 'd'])

   a  b     c  d
0  a  1   100  x
1  b  2  3654  x
2  c  6  6894  x

In [12]:
pd.read_csv('random.csv', skiprows=[0, 2])

Empty DataFrame
Columns: [b, 2, 3654, x]
Index: []

In [13]:
import sqlite3

In [14]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

In [15]:
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [16]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [17]:
con.executemany(stmt, data)
con.commit()

In [18]:
cursor = con.execute('select * from test')

In [19]:
rows = cursor.fetchall()

In [20]:
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]