In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dataframe = pd.read_csv('random.csv')
dataframe

   a  1   100  x
0  b  2  3654  x
1  c  6  6894  x

In [4]:
dataframe = pd.read_csv('random.csv', header = None)
dataframe

   0  1     2  3
0  a  1   100  x
1  b  2  3654  x
2  c  6  6894  x

In [6]:
dataframe = pd.read_table('random.csv', sep=',', header = None)
dataframe

   0  1     2  3
0  a  1   100  x
1  b  2  3654  x
2  c  6  6894  x

In [7]:
pd.read_csv('random.csv', header = None, nrows=2)

   0  1     2  3
0  a  1   100  x
1  b  2  3654  x

In [8]:
dataframe.to_csv('random_out.csv')